@*model Dictionary<int, int>
*@ 


<h1>Thank you!</h1>


@*
<h2>Thank You!</h2>
<p>Name: @ViewBag.StakeholderName</p>
<p>Organization: @ViewBag.Organization</p>
<p>Role: @ViewBag.Role</p>
<p>Category: @ViewBag.Category</p>
<p>Additional Issues: @ViewBag.AdditionalIssues</p>

<h3>Your Scores for Issues:</h3>
<ul>
    @foreach (var issue in Model)
    {
        <li>Issue ID: @issue.Key, Score: @issue.Value</li>
    }
</ul>
*@